@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
Roboto
Edu SA Beginner
Montserrat
*/


/*:root {
	--accent1 : rgba(60,19,97,1);
	--accent2 : rgba(82,48,124,1);
	--accent3 : rgba(102,58,130,1);
	--accent4 : rgba(124,82,149,1);
	--accent5 : rgba(180,145,200,1);
	--accent6 : rgba(188,160,220,1);
	--light-text : rgba(100,100,100,1);
	--light-grey : rgba(240, 240, 240, 1);
	--grey : rgba(100,100,100,0.4)
}
*/
:root {
	--accent1 : rgba(236,0,0,1);
	--accent2 : rgba(236,36,0,1);
	--accent3 : rgba(236,83,0,1);
	--accent4 : rgba(124,82,149,1);
	--accent5 : rgba(236,155,0,1);
	--accent6 : rgba(236,202,0,1);
	--light-text : rgba(100,100,100,1);
	--light-grey : rgba(240, 240, 240, 1);
	--grey : rgba(100,100,100,0.4)
}

body {
	padding: 0px;
	margin: 0px;
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;;
}

.ad {
	margin: 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	background-image: linear-gradient(to right, var(--accent1),var(--accent4));
	padding: 5em;
	color: #fff;
	align-items: center;
}

.ad img {
	transition: 500ms;	
	width: 10em;
}
.ad img:hover {
	transform: scale(1.1);
}
.ad h3 {
	font-size: 2.8em;
	font-weight: 600;
}

.space {
	height: 22%;
}
.info {
	color: #fff;
	padding: 3em;
	background-image: linear-gradient(to right, var(--accent1),var(--accent4));
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}
.info-card {
	margin-left: 5em;
	margin-right: 5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: 500ms;
}

.card-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.card {
	margin-left: 3em;
	margin-right:3em;
	margin-top: 3em;
	width: 15em;
	border-radius: 25PX;
	background-color: var(--light-grey);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	transition: 600ms;
	text-align: center;

}

.card img {
	margin-top: 1em;
	width: 10em;
	border-radius: 20px;
	transition:300ms;
}
.card img:hover {
	transform: scale(1.1);
}

.card h1 {
	font-size: 1.3em;
	align-self: center;
}

.card h2 {
	font-size: 1em;
	align-self: center;
}

.card h3 {
	font-size: 0.8em;
	align-self: center;
}

.card:hover {
	/*margin-top: 0em;*/
	transform: scale(1.1);
	background-color: transparent;
}

.heading {
	margin-bottom: 3em;
	color: #000;
	font-size: 3em;
	font-weight: 500;
}

.heading b {
	color: var(--accent1);
	font-weight: 500;
}

.info-heading {
	color: #fff;
	padding-top: 2em;
	padding-bottom: 1em;
	background-image: linear-gradient(to right, var(--accent1),var(--accent4));
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 2em;
	font-weight: 600;
}
.info-card img {
	width: 6em;
	transition: 500ms;
}
.info-card img:hover {
	transform: scale(1.1);
}
.info-card h3 {
	font-weight: 300;
}

.info-card h3 b{
	font-weight: 800;
}
.top-offer {
	margin: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 1);
	color: rgba(255, 255, 255, 0.5);
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	transition: 500ms;
	font-size: 1.1em;
}

.top-offer:hover {
	letter-spacing: 2px;
	color: rgba(255, 255, 255, 1.0);
}

.intro {
	margin-top: 2em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	background-color: transparent;
	padding-right: 7em;
	padding-left: 7em;
	transition: 500ms;
}

.intro .intro-text {
	display: flex;
	flex-direction: column;
}
.intro .intro-text h1 {
	font-size: 3rem;
	font-weight: 500;
}
.intro .intro-text h1 b{
	color: var(--accent1);
	font-weight: 500;
}

.intro .intro-text h3 {
	font-weight: 400;
	font-size: 1rem;
	color: var(--light-text);
}
.intro .intro-img img{
	width: 30em;
	align-self: center;
}
.app-link {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.app-link .app-link-card{
	color: #fff;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #000;
	padding: 0.7em;
	border-radius: 8px;
	font-weight: 500;
	margin-bottom: 1em;
}
.app-link .app-link-card img{
	width: 2em;
	margin-right: 0.3em;
	border-radius: 4px;
}


.org-name {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 10rem;
	margin-right: 10rem;
}
.org-name h1 {
	color: #000;
	font-size: 3em;
	font-weight: 400;
	transition: 500ms;
}
.org-name h1:hover {
	color: var(--accent2);
	letter-spacing: 4px;
}
.org-name p {
	font-size: 1em;
	font-weight: 300;
	line-height: 2em;
	word-spacing: 0.2em;
}

.org-name p b {
	font-size: 1em;
	font-weight: 400;
	color: var(--accent3);
}

.break hr{
	border: 2px dashed var(--grey);
	margin: 0px;
}

.reviews {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.review-box {
	
	margin-top: 1em;
	width: 20em;
	padding: 1em;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	box-shadow: var(--grey) 0px 0px 1px;
	/*align-items: center;*/
	transition: 500ms;
}

.review-box:hover {
	transform: scale(1.001);
	margin-top: 0em;
	/*background-color: var(--light-grey);*/
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 50px;
}

.review-box h6 {
	font-weight: 300;
	align-self: flex-end;
	font-size: 0.8em;
}

.review-box p {
	color: var(--light-text);
	font-weight: 300;
}
.review-box img {
	object-fit: cover;
	width: 7em;
	height: 7em;
	align-self: center;
	border-radius: 50%;
}

.about {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-left: 4em;
	margin-right: 4em;
	flex-wrap: wrap;
}
.about-card {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin: 3em;
	border-radius: 20px;
	padding: 1em;
	transition: 300ms;
}

.about-card:hover {
	transform:scale(1.1);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
}

.about-card img {
	object-fit: cover;
	border-radius: 50%;
	background-color: var(--accent1);
	width: 6em;
	height: 6em;
}

.about-card p {
	font-weight: 300;
	color: var(--light-text);
}
.about-card h1 {
	font-size: 1em;
	font-weight: 400;
}

.register-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	background-image: linear-gradient(to right, var(--accent1),var(--accent4));
	margin: 1em;
	padding: 2em;
}

.register-box p {
	color: #fff;
	font-size: 3em;
	font-weight: 500;
}

.register-box a {
	padding: 1em;
	color: #fff;
	text-decoration: blink;
	border-style: solid;
	border-width: 1px;
	border-radius: 0px;
	border-color: #fff;
	transition: 500ms;
}

.register-box a:hover {
	background-color: #fff;
	color: #000;
}

.footer {
	color: #fff;
	padding-top: 5em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-bottom: 5em;
	background-image: linear-gradient(to right, var(--accent1),var(--accent4));

}

.footer-col {
	display: flex;
	flex-direction: column;
}

.footer-col h1 {
	font-size: 1em;
	margin: 1em;
	margin-left: 0px;
}

.footer-col p {
	margin: 0.3em;
	cursor: default;
}

.footer-col p:hover {
	text-decoration: underline;
}