@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
Roboto
Edu SA Beginner
Montserrat
*/

html {
	scroll-behavior: smooth;
}


:root {
	--light-text : rgba(100,100,100,1);
	--light-grey : rgba(240, 240, 240, 1);
	--grey : rgba(100,100,100,0.4);
	--heading : rgba(63, 63, 63,1);
	--heading-dark : rgba(45, 45, 45,1);
}


:root {
	--accent1 : rgba(60,19,97,1);
	--accent2 : rgba(82,48,124,1);
	--accent3 : rgba(102,58,130,1);
	--accent4 : rgba(124,82,149,1);
	--accent5 : rgba(180,145,200,1);
	--accent6 : rgba(188,160,220,1);
}


/*:root {
	--accent1 : rgba(236,0,0,1);
	--accent2 : rgba(236,36,0,1);
	--accent3 : rgba(236,83,0,1);
	--accent4 : rgba(236,102,0,1);
	--accent5 : rgba(236,155,0,1);
	--accent6 : rgba(236,202,0,1);
}
*/


/*:root {
	--accent1 : rgba(0,80,115,1);
	--accent2 : rgba(16,125,172,1);
	--accent3 : rgba(24,154,211,1);
	--accent4 : rgba(30,187,215,1);
	--accent5 : rgba(113,199,236,1);
	--accent6 : rgba(236,202,0,1);
}
*/

/*:root {
	--accent1 : rgba(2,35,28,1);
	--accent2 : rgba(0,77,37,1);
	--accent3 : rgba(17,130,59,1);
	--accent4 : rgba(72,191,83,1);
	--accent5 : rgba(145,240,134,1);
	--accent6 : rgba(236,202,0,1);
}*/




body {
	padding: 0px;
	margin: 0px;
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;;
}

.smooth-down {
	margin-top: 2em;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	width: 2em;
	height:2em;
	border-style: solid;
	border-color: transparent;
	border-width: 1px;
	transition: 500ms;
}

.smooth-down a {
	text-decoration: blink;
	color: #000;
}
.smooth-down:hover {
	background-color: rgba(0, 0, 0, 0.1);
	cursor: pointer;
	border-color: rgba(0, 0, 0, 0.4);
	border-width: 1px;
}
.smooth-down:active {
	transition: 0ms;
	background-color: rgba(0, 0, 0, 0.5);
}


.ad {
	margin: 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	background-image: linear-gradient(to right, var(--accent1),var(--accent4));
	padding: 5em;
	color: #fff;
	align-items: center;
}

.ad img {
	transition: 500ms;	
	width: 15em;
	border-radius: 20px;
}
.ad img:hover {
	transform: scale(1.1);
}
.ad h3 {
	font-size: 2.8em;
	font-weight: 600;
}

.space {
	height: 15%;
}



.info {
	color: #fff;
	padding: 3em;
	background-image: linear-gradient(to right, var(--accent1),var(--accent4));
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}
.info-card {
	margin-left: 5em;
	margin-right: 5em;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: 500ms;
}

.card-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.card {
	margin-left: 3em;
	margin-right:3em;
	margin-top: 3em;
	width: 15em;
	height: 25em;
	border-radius: 25PX;
	background-color: var(--light-grey);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	transition: 400ms;
	text-align: center;

}

.card img {
	margin-top: 1em;
	width: 10em;
	height: 10em;
	object-fit: cover;
	border-radius: 20px;
	transition:300ms;
}
.card img:hover {
	transform: scale(1.1);
}

.card h1 {
	font-size: 1.3em;
	margin-top: inherit;
	align-self: center;
}

.card h2 {
	font-size: 1em;
	align-self: center;
}

.card h3 {
	font-size: 0.8em;
	align-self: center;
}

.card:hover {
	margin-top: 0em;
	/*transform: scale(1.1);*/
	background-color: transparent;
	cursor: pointer;
}

.heading {
	margin-bottom: 1em;
	color: var(--heading);
	font-size: 3em;
	font-weight: 500;
}
.heading p {
	font-size: 0.7em;
	font-weight: 600;
	color: var(--heading);
}
.heading b {
	color: var(--accent1);
	font-weight: 500;
}

.info-heading {
	color: #fff;
	padding-top: 2em;
	padding-bottom: 1em;
	background-image: linear-gradient(to right, var(--accent1),var(--accent4));
	display: flex;
	text-align: center;
	flex-direction: row;
	justify-content: center;
	font-size: 2em;
	font-weight: 600;
}
.info-card img {
	width: 6em;
	transition: 500ms;
}
.info-card img:hover {
	transform: scale(1.1);
}
.info-card h3 {
	font-weight: 300;
}

.info-card h3 b{
	font-weight: 800;
}
.top-offer {
	margin: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 1);
	color: rgba(255, 255, 255, 0.5);
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	transition: 500ms;
	font-size: 1.1em;
}

.top-offer:hover {
	letter-spacing: 2px;
	color: rgba(255, 255, 255, 1.0);
}

.intro {
	margin-top: 2em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	background-color: transparent;
	padding-right: 7em;
	padding-left: 7em;
	transition: 500ms;
}

.intro .intro-text {
	color: var(--heading-dark);
	display: flex;
	flex-direction: column;
}
.intro .intro-text h1 {
	font-size: 3rem;
	font-weight: 500;
}
.intro .intro-text h1 b{
	color: var(--accent1);
	font-weight: 500;
}

.intro .intro-text h3 {
	font-weight: 400;
	font-size: 1rem;
	color: var(--light-text);
}


.intro .intro-img img{
	width: 30em;
	object-fit: contain;
	align-self: center;
	overflow: hidden;
}
.app-link {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
.app-link .app-link-card{
	color: #fff;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #000;
	padding: 0.7em;
	border-radius: 8px;
	font-weight: 500;
	cursor: pointer;
	margin-bottom: 1em;
}
.app-link .app-link-card img{
	width: 2em;
	margin-right: 0.3em;
	border-radius: 4px;
}


.org-name {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 10rem;
	margin-right: 10rem;
}
.org-name h1 {
	color: #000;
	font-size: 3em;
	font-weight: 600;
	transition: 500ms;
}
.org-name h2 {
	align-self: flex-start;
	color: var(--heading-dark);
}

.org-name h1:hover {
	color: var(--accent2);
	letter-spacing: 4px;
}
.org-name p {
	font-size: 1em;
	font-weight: 300;
	line-height: 2em;
	word-spacing: 0.2em;
}

.org-name p b {
	font-size: 1em;
	font-weight: 500;
	color: var(--accent3);
}

.break hr{
	border: 2px dashed var(--grey);
	margin: 0px;
}

.reviews {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.review-box {
	
	margin-top: 1em;
	width: 20em;
	padding: 1em;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	box-shadow: var(--grey) 0px 0px 1px;
	/*align-items: center;*/
	transition: 500ms;
}

.review-box:hover {
	transform: scale(1.001);
	margin-top: 0em;
	/*background-color: var(--light-grey);*/
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 50px;
}

.review-box h6 {
	font-weight: 300;
	align-self: flex-end;
	font-size: 0.8em;
}

.review-box p {
	color: var(--light-text);
	font-weight: 300;
}
.review-box img {
	object-fit: cover;
	width: 7em;
	height: 7em;
	align-self: center;
	border-radius: 50%;
}

.about {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-left: 4em;
	margin-right: 4em;
	flex-wrap: wrap;
}
.about-card {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin: 3em;
	border-radius: 20px;
	padding: 1em;
	transition: 300ms;
	width: 10em;
	text-align: center;
}

.about-card:hover {
	transform:scale(1.1);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
}

.about-card img {
	object-fit: cover;
	padding: 1em;
	border-radius: 10px;
	background-color: var(--accent2);
	width: 3em;
	height: 3em;
}

.about-card p {
	font-weight: 300;
	color: var(--light-text);
}
.about-card h1 {
	font-size: 1em;
	font-weight: 400;
}

.register-box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	background-image: linear-gradient(to right, var(--accent1),var(--accent4));
	margin: 1em;
	padding: 2em;
}

.register-box p {
	color: #fff;
	font-size: 3em;
	font-weight: 500;
}

.register-box a {
	padding: 1em;
	color: #fff;
	text-decoration: blink;
	border-style: solid;
	border-width: 1px;
	border-radius: 0px;
	border-color: #fff;
	transition: 500ms;
}

.register-box a:hover {
	background-color: #fff;
	color: #000;
}

.footer {
	color: #fff;
	padding-top: 5em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-bottom: 5em;
	background-image: linear-gradient(to right, var(--accent1),var(--accent4));

}

.footer-col {
	display: flex;
	flex-direction: column;
}

.footer-col h1 {
	font-size: 1em;
	margin: 1em;
	margin-left: 0px;
}

.footer-col p {
	margin: 0.3em;
	cursor: default;
}

.footer-col p:hover {
	cursor: pointer;
	text-decoration: underline;
}

.achievers {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-left: 4em;
	margin-right: 4em;
	flex-wrap: wrap;
}
.achievers-card {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	margin: 3em;
	border-radius: 20px;
	padding: 1em;
	transition: 300ms;
	width: 10em;
	text-align: center;
}

.achievers-card:hover {
	transform:scale(1.1);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;
}

.achievers-card img {
	object-fit: cover;
	border-radius: 10px;
	background-color: var(--accent2);
	width: 8em;
	height: 8em;
}

.achievers-card p {
	font-weight: 300;
	color: var(--light-text);
}
.achievers-card h1 {
	font-size: 1em;
	font-weight: 400;
}

.about-logo {
	width: 11em;
	object-fit: cover;
}

.faculty {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.faculty-card {
	width: 25em;
	height: 30em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 1px;
	padding: 2em;
	transition: 500ms;
	filter: grayscale(100%);
}
.faculty-card:hover {
	filter: grayscale(0%);
	transform: scale(1.1);
	box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 20px;
}
.faculty-card img {
	width: 20em;
	height: 20em;
	border-radius: 20px;
	object-fit: contain;
	transition: 500ms;
}
.faculty-card img:hover {
	transform: scale(1.04);
}
.faculty-card-text {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.faculty-card-text h1 {
	text-align: center;
	font-weight: 400;
}

.footer-about {
    margin: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
.footer-about-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 15rem;
    margin: 1rem;
}
.footer-about-card h3 {
    font-size: 0.9rem;
    color: var(--heading);
    margin-bottom: 0.5rem;
}
.footer-about-card p {
    color: var(--light-text);
    font-weight: 500;
    font-size: 0.8rem;
}

.search-box form{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search-box form .search {
	width: 40%;
	padding: 0.7em;
	border-radius: 10px;
	border-style: solid;
	border-color: var(--grey);
	color: var(--light-text);
}


.search-box form .search:focus {
	color: var(--heading-dark);
}

.search-box form .submit {
	margin-top: 2em;
	padding: 1em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	border-radius: 10px;
	border-style: none;
	background-color: var(--accent2);
	color: #fff;
	transition: 500ms;
}

.search-box form .submit:hover {
	cursor: pointer;
	background-color: var(--heading-dark);
}

.question-box {
	margin-left: 15em;
	margin-right: 15em;
	display: flex;
	background-color: rgba(248, 248,248, 1.0);
	flex-direction: column;
	margin-bottom: 2em;
	padding: 1em;
	transition: 300ms;
	border-radius: 15px;
	cursor: pointer;
}

.question-box h5 {
	margin: 0px;
	margin-bottom: 1em;
	font-size: 0.95em;
	font-weight: 600;
}

.question-box p {
	margin: 0px;
	font-size: 0.8em;
	font-weight: 400;
}

.question-box:hover {
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px;
	transform: scale(1.05);
}

.show-more {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.show-more a {
	padding: 0.8em;
	padding-left: 1em;
	padding-right: 1em;
	text-decoration: blink;
	color: #000;
	border-radius: 10px;
	border-style: solid;
	border-color: var(--accent2);
	transition: 500ms;
}

.show-more a:hover {
	background-color: var(--accent2);
	color: #fff;
}

.ask:hover {
	letter-spacing: 2px;
}

.contact-form {
	margin-left: 20rem;
	margin-right: 20rem;
	color: var(--heading-dark);
}

.contact-form form {
	display: flex;
	flex-direction: column;
	font-size: 1.4em;
	font-weight: 400;
}

.contact-form form input, .contact-form form textarea {
	padding: 0.4em;
	font-size: 0.8em;
	font-weight: 400;
	color: var(--light-text);
	margin: 1em;
	border-style: solid;
	border-width: 2px;
	border-color: var(--grey);
	border-radius: 10px;
}

.map {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.map iframe {
	border-radius: 20px;
}

.contact-form form .submit {
	margin-top: 2em;
	padding: 1em;
	padding-left: 1.5em;
	padding-right: 1.5em;
	border-radius: 10px;
	border-style: none;
	background-color: var(--accent2);
	color: #fff;
	transition: 500ms;
}

.contact-form form .submit:hover {
	cursor: pointer;
	background-color: var(--heading-dark);
}

.registration-form {
	background-color: red;
	width: 40em;
	display: flex;
	border-radius: 20px;
	flex-direction: row;
	justify-content: space-around;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	background-color: var(--light-grey);
}
.registration-form .form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.registration-form .form form{
	padding: 2em;
	display: flex;
	/*align-items: center;*/
	flex-direction: column;
	justify-content: space-between;
}

.registration-form .form form input{
	margin-bottom: 1em;
	padding: 0.7em;
	border-radius: 10px;
	border-style: solid;
	border-color: transparent;
	color: var(--light-text);
	transition: 500ms;
}
.registration-form .form-image {
	margin-left: 0px;
	padding-left: 0px;
}

.registration-form .form-image img{
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	width: 20em;
	height: 25em;
	object-fit: cover;
}

.registration-form .form a {
	border-radius: 15px;
	padding: 0.6em;
	border-style: solid;
	border-width: 2px;
	border-color: var(--accent2);
	font-size: 1em;
	font-weight: 400;
	cursor: pointer;
	transition: 300ms;
}

.registration-form .form a:hover {
	background-color: var(--accent2);
	color: #fff;
}

@media (max-width: 596px) {
	.intro {
		padding-left: 1em;
		padding-right: 1em;
	}
	.org-name {
		margin-left: 1em;
		margin-right: 1em;
	}
	.info-card {
		margin-left: 1em;
		margin-right: 1em;
	}
	.about-card {
		margin-left: 1em;
		margin-left: 1em;
		width: 5em;
	}
	.footer {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

}

@media (max-width: 690px) {
	.info {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media (max-width: 492px) {
	.intro .intro-img img{
		width: 20em;		
	}

}
@media (max-width: 400px) {
	.intro .intro-img img{
		width: 10em;
		overflow: scroll;
	}
}
@media (max-width: 1000px) {
	.question-box {
		margin-left: 2em;
		margin-right: 2em;
	}
}

@media (max-width: 688px) {
	.registration-form .form-image{
		display: none;
	}
	.registration-form {

		width: 0px;
	}
	.registration-form .form form input{
		border-color: var(--heading);
	}
}
@media (max-width: 1020px) {
	.contact-form {
		margin-left: 10rem;
		margin-right: 10rem;
	}
}
@media (max-width: 650px) {
	.contact-form {
		margin-left: 1rem;
		margin-right: 1rem;
	}
}
@media (max-width: 550px) {
	.faculty-card {
		width: 15em;
	}
	.faculty-card img{
		width: 100%;
	}
}
@media (max-width: 300px) {
	.ad img {
		transition: 500ms;	
		width: 8em;
		border-radius: 20px;
	}
	.faculty-card {
		width: 10em;
		margin-bottom: 3em;
	}
}